body {
    font-family: 'roberto', sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-flow: column;
    padding: 12px 150px 50px 150px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.right-side, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px
    ;
}

.top {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.top-left {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.main-img {
    align-self: center;
    height: auto;
    width: auto;
}

.main-sign-up {
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    padding: 8px 16px;
    box-sizing: border-box;
    max-width: fit-content;
    color: #f9faf8;
}

.main-img {
    max-width: 100%;
}

.section-two{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 180px 40px 180px;
    gap: 20px;
}

.imgs-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img-placeholder {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.info-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 80px 180px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-name {
    align-self: flex-end;
    font-weight: 700;
}

